ADMIN_ACCESS_TOKEN=
ADMIN_PASSWORD=
ADMIN_USERNAME=
CLOUDINARY_URL=
# DATABASE_URL=postgresql://missing_children_db_gxgl_user:ajPhFOWCpyYDxUA1sBa0L8lNkUYYiEEg@dpg-d70csmchg0os73a96nj0-a/missing_children_db_gxgl
REDIS_URL=
ML_CACHE_TTL_SECONDS=86400
ML_SERVICE_URL=
ML_SERVICE_TOKEN=23
ML_SERVICE_TIMEOUT_SECONDS=30
POLICE_ACCESS_TOKEN=
POLICE_PASSWORD=
POLICE_USERNAME=
SECRET_KEY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
VERCEL=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_SECRET_KEYNUMBER=
FLASK_RUN_PORT=